<!--ABOUT Page-->
<!--Header requires backgrounds.css to work!-->
<header class="pt6 bg-graph-navy vh-80 dt w-100 bb bw2 b--red shadow-4">
    <div class="vh-75 dtc v-btm-ns tl pa4 pb6 ph5-m ph7-l">
      <h1 class="playfair-display black-70 fw7 b kern ligatures f-subheadline f-headline-l measure-narrow lh-title pb4">
        <!--Large Breakpoints-->
        <span class="dn-s bg-blur-5 bg-white-70 lh-solid ph4 pb3 bt bw3 b--red shadow-4 w3-animate-opacity">
          &nbsp;About.&nbsp;
        </span>
        
        <!--Small Breakpoints-->
        <span class="dn-ns mx-multiply lh-solid pb2 bb bw2 b--red red w3-animate-top">
          &nbsp;About.&nbsp;
        </span>
      </h1>
      
      <h5 class="space-mono ttu mt4 mt6-s f6 black-80 tracked lh-copy">
        <!--Large Breakpoints-->
        <span class="dn-s mt3 pa2 bg-blur-5 bg-white-70 ba bw1 b--red shadow-4 w3-animate-opacity">
         Started from the bottom...but now we're here!
        </span>
        
        <!--Medium & Small Breakpoints-->
        <span class="dn-ns montserrat red f4 dn-l mv2 pv2 lh-copy ttc w3-animate-top">
           <span class="space-mono black ttu"> Started from the bottom... </span> 
               <br class="dn-ns">
           <span class="f6">but now we're here! </span>
        </span>
      </h5>
      <br>
        <i class="red w3-animate-bottom fl f1-l f2 w30 pa1 material-icons">arrow_downward</i>
    </div>
</header>


<!--Body Text-->
<!--Article Title-->
<article class="cf ph3 ph5-l ph4-m pv6">
  <header class="fn fl-ns w-30-l w-50-m w-100 pl4-ns pl2-m pr4-ns">
    <h1 class="mb3 mt0 lh-title raleway fw6">We built <br class="dn-s">a store!</h1>
    <time class="f6 ttu tracked red">The Ruby Devs</time>
  </header>
  <div class="fn fl-ns w-70-l w-50-m w-100">
    <p class="eb-garamond f4 lh-copy measure mt6 mt0-l mt0-m">
      <span class="sm-cap red tracked">You're kidding.</span> 
      Well, no, we're not, actually. Do you want to be able to sell something, too?
      e-commerce is where it's at! But you have to be prepared, secure, and you've 
      got to keep your customers interested and happy. How do we do it?
    <p class="raleway ttu sm-cap tracked f3 lh-copy measure mt1 mt0-l mt0-m">
      <span class="fw6 f4">
      Through Ruby, of course!</span><br>
      <!--<span class="sm-cap eb-garamond near-black tracked">&amp</span><br>-->
      <!--<span class="fw6 f4">Don't repeat yourself.</span>-->
    </p>
    
    <p class="eb-garamond f4 lh-copy measure">
      Believe it or not, we've learned Ruby on Rails over the course
      of a few short months, using the resources in this very store. It was built for the course 
        <a href="http://www.cdm.depaul.edu/academics/pages/courseinfo.aspx?CrseId=010366" 
        class="i red f5 w3-text-red link w3-hover-none w3-hover-text-black">
          IT231: Web Development
        </a>
      at DePaul University, taught by 
        <a href="http://www.cdm.depaul.edu/about/pages/people/facultyinfo.aspx?fid=286" 
        class="i red f5 w3-text-red link w3-hover-none w3-hover-text-black">
          Dr. James DeBettencourt.
        </a>
    </p>
    
    <p class="eb-garamond f4 lh-copy measure">
      It's amazing to have built a store and have it hosted as a live, working web app
      in this brief period. We hope you'll agree that it's well worth the effort to
      learn Ruby on Rails.
  </div>
</article>