<!--HELP Page-->
<!--Header requires backgrounds.css to work!-->
<header class="pt6 bg-graph-navy vh-80 dt w-100 bb bw2 b--red shadow-4">
    <div class="vh-75 dtc v-btm-ns tl pa4 pb6 ph5-m ph7-l">
      <h1 class="playfair-display black-70 fw7 b kern ligatures f-subheadline f-headline-l measure-narrow lh-title pb4">
        <!--Large Breakpoints-->
        <span class="dn-s bg-blur-5 bg-white-70 lh-solid ph4 pb3 bt bw3 b--red shadow-4 w3-animate-opacity">
          &nbsp;Help.&nbsp;
        </span>
        
        <!--Small Breakpoints-->
        <span class="dn-ns mx-multiply lh-solid pb2 bb bw2 b--red red w3-animate-top">
          &nbsp;Help.&nbsp;
        </span>
      </h1>
      
      <h5 class="space-mono ttu mt4 mt6-s f6 black-80 tracked lh-copy">
        <!--Large Breakpoints-->
        <span class="dn-s mt3 pa2 bg-blur-5 bg-white-70 ba bw1 b--red shadow-4 w3-animate-opacity">
         <span class="red">773-202-9000!</span> We've got you covered, Chicago!
        </span>
        
        <!--Medium & Small Breakpoints-->
        <span class="dn-ns montserrat red f4 dn-l mv2 pv2 lh-copy ttc w3-animate-top">
           <span class="space-mono black ttu"> 773-202-9000! </span> 
               <br class="dn-ns">
           <span class="f6"> We've got you covered, Chicago! </span>
        </span>
      </h5>
      <br>
        <i class="red w3-animate-bottom fl f1-l f2 w30 pa1 material-icons">arrow_downward</i>
    </div>
</header>

<!--Body Text-->
<!--Article Title-->
<article class="cf ph3 ph5-l ph4-m pv6">
  <header class="fn fl-ns w-40-ns w-100 pl4-ns pl2-m pr4-ns">
    <h1 class="mb3 mt0 lh-title raleway fw6">We're here <br class="dn-s">for you.</h1>
    <small class="f6 ttu tracked red lh-solid pb2 bb bw2 b--red">The Ruby Devs</small>
  </header>
  <div class="fn fl-ns w-60-ns w-100">
    <p class="eb-garamond f4 lh-copy measure mt6 mt0-l mt0-m">
      <span class="sm-cap red tracked">
        <a href="http://rubyonrails.org" class="w3-text-red link w3-hover-none w3-hover-text-black">
          Ruby on Rails
        </a>
      </span> 
      is a framework that takes some time to master. We know it, we've been there.
      Don't worry, you're in good hands. Just make sure to take your time, read the 
      tutorial material very carefully, and don't be afraid to make mistakes. That's
      the best way to learn this stuff. Just remember the core tenets of Ruby:
    
    <p class="raleway ttu red sm-cap tracked f3 lh-copy measure mt1 mt0-l mt0-m">
      <span class="fw6 f4">
      Convention over Configuration.</span>
      <br>
      
      <span class="sm-cap eb-garamond near-black tracked">&amp</span>
      <br>
      
      <span class="fw6 f4">Don't repeat yourself.</span>
    </p>
   
    <p class="eb-garamond f4 lh-copy measure">
      But, in the event that your best-laid plans go awry, try and consult the 
      <a href="https://www.railstutorial.org/" class="i w3-text-red link w3-hover-none w3-hover-text-black">Rails Tutorial</a> Website. 
      You should also feel free to email us. We'll get back to you just as soon as we can. 
      Rest assured, we're never far from the computer 
      <br class="dn-s dn-m">screen <span class="f6 red">&#9787;</span> !
    </p>
  </div>
</article>