<h1 class="montserrat b red">Editing Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product , class:"space-mono w3-mobile w3-button w3-red w3-border w3-border-red w3-hover-white w3-round-large" %> |
<%= link_to 'Back', products_path , class:"space-mono w3-mobile w3-button w3-red w3-border w3-border-red w3-hover-white w3-round-large" %>
